# Ignore build/cmake directories
build/
out/
# Ignore Python virtual environment directories
venv/
# Ignore Obsidian
*.obsidian
# Ignore IDEs
*.vs
# Ignore local
Libs/
.venv

.idea

**/__pycache__/

.DS_Store

data/rgbd_dataset_freiburg1_desk
